<h1>New Task</h1>
<%= form_for @task do |t| %>
  <%= t.hidden_field :list_id, :value => @list.id %>
  <%= t.label :Task %>
  <%= t.text_field :name, {:required => true} %>
  <br>
  <%= t.submit 'Create' %>
<% end %>
