<h1>All Todo-Lists</h1>
<% @lists.each do |l| %>
  <div class="todo-list">
    <row>
      <strong>Title:</strong>
      <%= l.title %> |
    </row>
    <row>
      <strong>Description:</strong>
      <%= l.description %>
    </row>
  </div>
  <% l.tasks.each do |t| %>
    <% if t.complete? %>
      <strike style="opacity: 0.4;"><%= t.name %></strike>
    <% else %>
      <%= t.name %>
    <% end %>
    <%= link_to 'Complete', {:controller => "tasks", :action => "complete", :id => t.id }, :method => 'post' %>
    <br>
  <% end %>
  <div class="controls">
    <%= link_to 'Edit', edit_todo_list_path(l) %> |
    <%= link_to 'New Task', new_task_path(:list_id => l.id) %>
  </div>
<% end %>
