<h1>All Todo-Lists</h1>
<% @lists.each do |l| %>
  <div class="todo-list">
    <p>
      <strong>Title:</strong>
      <%= l.title %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= l.description %>
    </p>
  </div>

  <% l.tasks.each do |t| %>
    <p>
      <%= t.name %>
      <%= link_to 'Complete', {:controller => "tasks", :action => "complete", :id => t.id }, :method => 'post' %>
    </p>
  <% end %>

  <div class="controls">
    <%= link_to 'Edit', edit_todo_list_path(l) %> |
  </div>
<% end %>
