<h1>New Todo-List</h1>
<%= form_for @list do |f| %>
  <strong><%= f.label :title %></strong>
  <%= f.text_field :title, {:required => true} %>
  <strong><%= f.label :description %></strong>
  <%= f.text_field :description, {:required => true} %>
  <br>
  <%= f.submit 'Create' %>
<% end %>
