<div class="sign-in">
  <h1>Sign In</h1>
  <!-- If the User enters the wrong details or nothing at all it prompts them the error/s -->
  <% if flash[:error].present? %>
    <h2><%= flash[:error] %></h2>
  <% end %>
  <%= form_tag login_path do %>
    <%= label_tag :email %>
    <%= email_field_tag :email %>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
    <br>
    <%= submit_tag "Sign in" %>
  <% end %>
</div>
