<div class="sign-up">
  <h1>Sign Up</h1>
  <% if @user.errors.any?  %>
    <ol> <!-- If the user doesn't enter correct details it will deny and let them know with a prompt -->
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ol>
  <% end %>
  <%= form_for @user do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.label :password_confirmation %>
    <%= f.password_field  :password_confirmation %>
    <br>
    <%= f.submit 'Sign up' %>
  <% end %>
</div>
